<footer>
    <div class="foot">
    <div class="p1">
    <p>copyright &copy reserved by Stocki</p>
    </div>
    <div class="p2">
      <p>Built with ❤️ By: <a href="http://">Kaustab</a>  & <a href="https://twitter.com/Drmetavers">Mahee</a></p>
    </div>
    </div>
</footer>