 <div class="sidebar">
    <div class="logo">
      <h1>Stocki</h1>
    </div>
    <a href="/portfolio">Portfolio</a>
    <a href="/orders">Orders</a>
    <a href="/holdings">Holdings</a>
    <a href="/stocks">Stocks</a>
    <a href="/watchlist">Watch-list</a>
    <a href="/profile">Profile</a>
    <a href="/auth/logout">Logout</a>
  </div>