<!DOCTYPE html>
<html lang="en">
  {{> header}}
  <body>
    {{> navbar}}

    {{!-- <div class="container-fluid">
      <h2>Home Page</h2>
      
    </div>
  </body>
</html> --}}

    {{!-- <header>
      <div class="nav"><a href="#">Stocki</a></div>
      <nav>
        <ul>
          <li><a href="#">Register </a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header> --}}
    <div class="home-container">
     <div class="img">
      <img src="/images/homepage.jpg" alt="image" class="image" />
       </div>
      <div class="side-text">
        <h4>
          Maximize your return and minimize your risk with us
        </h4>
        <button onclick="location.href = '/login';" class="button">Start now !</button>
      </div>
    </div>
  {{> footer}}
  </body>
</html>





