<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
 {{> sidebar}}
<div class="portfolio">


<div class="portfolio-header">
    <h1>{{user.name}}'s Portfolio</h1>
</div>

  <div class="upper-portfolio">
    <img src="/images/user2.png" alt="" />
    <p>Uer_id:{{user.Id}}</p>
  </div>
  <hr>

  <div class="middle-portfolio">
    <div class="portfolio-text">
    <p>Equity: </p>
    </div>
    <div class="portfolio-text">
  <p>Cash: </p>
    </div>
    <div class="portfolio-text">
    <p>Stocks: </p>
    </div>
    <div class="portfolio-text">
    <p>P and L: </p>
    </div>
    <div class="portfolio-text">
    <p>Present Value: </p>
    </div>
  


  </div>

  </div>
</body>

</html>