<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>

 {{> sidebar}}
  <h1 class="mt-4 mb-4 text-center text-primary">Well researched Stocks</h1>
  <div class="search-container">
  <label for="search-input">Search by Company Name:</label>
  <input type="text" id="search-input">
</div>
  <div class="table-container">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Stock_Symbol</th>
        <th>Company Name</th>
        <th>Change in Price</th>
      </tr>
      <tbody id="stock-table-body">
      {{#each stock}}
      <tr>
        <td>{{STOCK_SYMBOL}}</td>
        <td>{{COMPANY_NAME}}</td>
      <td>{{CHANGE_IN_PRICE}}</td>
      {{!-- <td style="color: green">{{CHANGE_IN_PRICE}}</td> --}}
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

<script>
$(document).ready(function() {
  // Listen for changes in the search input
  $('#search-input').on('input', function() {
    var searchText = $(this).val().toLowerCase();
    // Filter the table rows based on the search text
    $('#stock-table-body tr').filter(function() {
      var rowText = $(this).text().toLowerCase();
      return !rowText.includes(searchText);
    }).hide();
    $('#stock-table-body tr').filter(function() {
      var rowText = $(this).text().toLowerCase();
      return rowText.includes(searchText);
    }).show();
  });
});
</script>


</body>

</html>